.container {
    width: 936px;
    height: fit-content;
    min-height: 558px;
    border-radius: 8px;
    background: #29292E;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    gap: 40px;
    margin-top: 24px;

}

.bodyTexture {
    height: 152px;

}

.bodyTextureTwo {
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #818385;


}

.artistInformation {
    display: flex;
    align-items: center;
    gap: 46px;
}

.text {
    width: 104px;
    color: white;
}

.footer {
    max-width: 100%;
    width: 100%;
    margin-top: 24px;
}

.button {
    border: none;
    display: flex;
    align-items: center;
    gap: 4;
    border-radius: 8px;
    background: var(--Gradient-apolo, linear-gradient(90deg, #F903D0 0%, #9A16F2 100%));
    max-width: 151px;

}

.foterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonMain {
    width: 151px;
}

.footerMode {
    display: flex;
    width: 106;
    gap: 8px;
    color: white;
}

.footerModeFont {
    padding: 12px 24px;
}

.footerPLaylist {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.font {
    color: white;
    font-weight: 600;
    font-style: normal;
}

.activefooterModeFont {
    padding: 12px 24px;
    border-bottom: 4px solid var(--Gradient-apolo, #F903D0);

}

.newTreck {
    position: absolute;
    top: 150px;
    left: 250px;
    z-index: 1;
    width: 461px;
    height: 416px;
    background-color: #252528;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}

// .edit {
//     display: flex;
//     padding: 8px 12px 8px 8px;
//     align-items: center;
//     gap: 4px;
//     border-radius: 8px;
//     border: 1px solid #35353B;
//     background: #151519;
// }
.biographyButton {
    display: flex;
    max-width: 75px;
    margin-left: 76px;
    padding: 8px 12px 8px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #35353B;
    background: #151519;

}