.container {
    width: 936px;
    height: 558px;
    border-radius: 8px;
    background: #29292E;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.body {
    display: flex;
    gap: 40px;
    margin-top: 24px;

}

.bodyTexture {
    height: 152px;

}

.bodyTextureTwo {
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #818385;


}

.artistInformation {
    display: flex;
    align-items: center;
    gap: 46px;
}

.text {
    width: 104px;
    color: white;
}

.footer {
    max-width: 100%;
    width: 100%;
    margin-top: 24px;
}

.button {
    border: none;
    display: flex;
    align-items: center;
    gap: 4;
    border-radius: 8px;
    background: var(--Gradient-apolo, linear-gradient(90deg, #F903D0 0%, #9A16F2 100%));
    max-width: 151px;

}

.foterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonMain {
    width: 151px;
}

.footerMode {
    display: flex;
    width: 106;
    gap: 8px;
    color: white;
}

.footerModeFont {
    padding: 12px 24px;
}

.footerPLaylist {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.font {
    color: white;
    font-weight: 600;
    font-style: normal;
}

.activefooterModeFont {
    padding: 12px 24px;
    border-bottom: 4px solid var(--Gradient-apolo, #F903D0);

}