@import '../colors/colors.scss';

.container {
    padding: 16px;
    width: 202px;
    height: 185px;
    // width: 266px;
    // height: 309px;
    border-radius: 8px;
    padding: 8px;
    background: $darkVoid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    text-decoration: none;
}

.font {
    color: $shadyLady;
    font-size: 14px;
    font-weight: 600;
    margin-left: 2px;
    align-self: flex-start;
    margin-left: 4px;
    color: white;

}

.buttons {
    position: absolute;
    display: none;
    margin-bottom: 16px;
    gap: 8px;
}

.cellEdit {
    background-color: $white;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellDelete {
    background-color: $white;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoveredImage {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container:hover .buttons {
    display: flex;

}

.container:hover .hoveredImage .cellImage {
    opacity: 0.6;
}

.cellImage {
    border-radius: 8px;
}