.container {
    display: flex;
    flex-direction: column;
    background-color: #88888888;
    padding: 30px;
    gap: 30px;
    width: 400px;
    border-radius: 8px;
    background: #29292E;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.50);
    position: absolute;
    top: -180px;
    left: 350px;
}

.container h1 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper span {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.input {
    background-color: #000000;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    padding-left: 15px;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    background-color: #F903D0;
    font-family: var('--font-Plus-Jakarta-sans');
    height: 40px;
    border: none;
    border-radius: 8px;
    width: 350px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.errorMessage {
    color: #7c0e0e;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.x {
    color: #a19e9e;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}