.container {
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header {
    color: #fff;
}

.button {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 180px;
}